#about-img {
  background-image: url(./images/about-img.jpg);
  background-size: cover;
  height: 700px;
  width: 1000px;
}
#photo-tag {
  position: relative;
  left: 20px;
  bottom: -640px;
}
nav > div > img {
  padding: 8px;
}
#pin-projects > .card {
  width: calc(33.333333333% - 16px);
  margin: 8px;
  height: 100%;
}
.activator {
  padding-top: 10px;
}
#pin-projects > div > hr,
#other-projects > div > hr {
  margin: 20px 0;
}
#other-projects > .card {
  width: calc(25% - 16px);
  margin: 8px;
}
#pin-projects > div > .card-content,
#pin-projects > div > .card-reveal,
#other-projects > div > .card-content,
#other-projects > div > .card-reveal {
  padding: 10px 10px 0 10px;
  margin-bottom: 10px;
}
#other-projects > div > div > .card-title {
  font-size: 18px;
}
#other-projects > div > div > p {
  font-size: 14px;
}
#pin-projects > div > div > p > a > i,
#other-projects > div > div > p > a > i {
}
/* #pin-projects > div > div > img {
}
#pin-projects > div > div > .card-image {
} */
