#p-one {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-template-rows: 10% 30% 30% 30%;
  grid-column-gap: 2%;
  height: 100vh;
}
#modal {
  z-index: 1003;
  display: block;
  opacity: 1;
  top: 10%;
  transform: scaleX(1) scaleY(1);
  padding: 20px;
}

#menu {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
#top-menu {
  justify-content: wrap;
}
img {
  width: 100%;
}

#minus,
#counter,
#plus {
  display: inline-grid;
}
#win-loss-tie {
  grid-column: 1 / 2;
  grid-row: 3 / 5;
}
#chat-area {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
}

#input {
  grid-row: 2 / 4;
}
#submit {
  grid-row: 3 / 4;
}
#button-area {
  display: inline-grid;
  grid-template-columns: 34% 29% 36%;
  grid-template-rows: 40% 60%;
  grid-column: 1 / 5;
  grid-row: 4 / 5;
}
#buttons {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
#p-two {
}
